
*
{
	margin: 0;
	padding: 0;

	font: inherit;
	color: inherit;
	text-align: inherit;
	text-decoration: none;

	list-style: none;
}

html
{
	box-sizing: border-box;
}

*, *::before, *::after
{
	box-sizing: inherit;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: underline;
}
a:-moz-any-link {
  cursor: pointer;
  text-decoration: underline;
}
a:any-link,
a.Link {
  cursor: pointer;
  text-decoration: underline;
}
html,
body,
#app,
.App {
  height: 100%;
}
.Button {
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  color: #0e191a;
  background-color: #e0bf5c;
  border: 1px solid #0e191a;
  border-radius: 0.25rem;
  cursor: pointer;
}
.Button:hover {
  color: #0d1a1b;
  background-color: #ecc550;
}
.Button:active,
.Button._active_ {
  color: #fff;
  background-color: #e0a95c;
}
.Button[href] {
  text-decoration: none;
}
.Card {
  position: relative;
}
.Card > .pocket {
  position: absolute;
  top: 1em;
  left: 1em;
}
.Card > .pocket a {
  padding: 0.25em;
}
.Card > .pocket a + a {
  margin-left: 0.0625em;
}
.Card > .name {
  font-weight: bold;
  padding: 1em 0.5em 0.25em 5.25em;
}
.Card > .tiers > .tier {
  display: flex;
  align-items: center;
  margin: 0.25em 0;
}
.Card > .tiers > .tier .n {
  width: 5em;
  flex-shrink: 0;
  padding: 0 0.5em;
  font-weight: bold;
  text-align: right;
}
.Card > .tiers > .tier .buttons {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
.Card > .tiers > .tier button {
  width: 10em;
  margin-left: 0.25em;
}
.Card > .tiers > .tier button:hover {
  border-width: 1px 1.75px 1px 1.75px;
}
.Card > .tiers > .tier button:active,
.Card > .tiers > .tier button._active_ {
  border-width: 1px 2.5px 1px 2.5px;
}
.Card > .tiers > .ocs {
  margin-top: 0;
  border-top: 1px solid #333333aa;
}
.Card > .tiers > .ocs .buttons {
  flex-wrap: wrap;
}
.Card > .tiers > .ocs button {
  width: 10em;
  height: 55px;
  flex-shrink: 0;
  margin-top: 0.25em;
  margin-left: 0.25em;
}
.Card > .tiers > .ocs button:hover {
  border-width: 1px 1.75px 1px 1.75px;
}
.Card > .tiers > .ocs button:active,
.Card > .tiers > .ocs button._active_ {
  border-width: 1px 2.5px 1px 2.5px;
}
.Card .Button {
  width: 10em;
}
.Card .Button:hover {
  border-width: 1px 1.75px 1px 1.75px;
}
.Card .Button:active,
.Card .Button._active_ {
  border-width: 1px 2.5px 1px 2.5px;
}
.Page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.Page > .header,
.Page > .footer {
  background: #e0bf5c;
  border: 0px solid rgba(14, 25, 26, 0.5);
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.Page > .header > .menu a,
.Page > .footer > .menu a {
  padding: 1em 0.5em;
}
.Page > .header > .menu.left,
.Page > .footer > .menu.left {
  flex-grow: 1;
}
.Page > .header {
  border-bottom-width: 1px;
}
.Page > .header h1 {
  font-weight: bold;
  text-transform: uppercase;
}
.Page > .header .feedback {
  font-style: italic;
}
.Page > .header > .title {
  padding: 1em;
}
.Page > .footer {
  justify-content: end;
  border-top-width: 1px;
}
.Page > .footer > .left {
  padding: 1em;
}
.Page > .body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Page > .body > .section {
  margin: 0.5rem auto;
  max-width: 900px;
  line-height: 1.5;
}
.Report {
  overflow: hidden auto;
}
.Report > .grid {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-spacing: 0 0.125em;
}
.Report > .grid > .row {
  display: table-row;
}
.Report > .grid > .row > div {
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
}
.Report > .grid > .row {
  cursor: default;
  background: rgba(224, 191, 92, 0.5);
}
.Report > .grid > .row > div {
  padding: 0.25em;
}
.Report > .grid > .row > .label {
  width: 15.25em;
  text-align: right;
  background: #e0bf5c;
}
.Report > .grid > .row:hover {
  background: rgba(248, 212, 68, 0.5);
}
.Report > .grid > .row:hover > .label {
  background: #f8d444;
}
.Report > .grid > .row > .item span + span {
  margin-left: 0.5em;
}
.Report._comparison_ > .grid > .row > .item {
  width: 50%;
  /* desired (limit) value */
}
.Report > .grid > .row > .sep {
  width: 6em;
  font-size: 85%;
}
.Report > .grid > .row > .sep > .pt {
  font-size: 90%;
  margin-left: 0.25em;
  font-style: italic;
}
.Report ._delta_,
.Report ._gain_ {
  text-shadow: 0.5px 0.5px 0.5px #aaa;
}
.Report ._gain_ {
  font-size: 85%;
  border-radius: 0.25rem;
  padding: 0 0.16666667rem;
}
.Report ._gain_ .pt {
  font-size: 80%;
  font-style: italic;
  margin-left: 0.3em;
}
.Report ._delta_._plus_ {
  color: Green;
}
.Report ._delta_._minus_ {
  color: Red;
}
.Report .row .sep._delta_._plus_ {
  background-color: rgba(0, 128, 0, 0.08);
}
.Report .row .sep._delta_._minus_ {
  background-color: rgba(255, 0, 0, 0.08);
}
.Report ._gain_._plus_ {
  color: White;
  background-color: Green;
}
.Report ._gain_._minus_ {
  color: White;
  background-color: Red;
}
.Error {
  padding: 0.25rem 2em;
  font-family: monospace;
  font-size: 80%;
  color: #333;
  font-style: italic;
}
.Main > .body > .quote {
  align-self: flex-end;
}
.Main > .body > .quote > a {
  display: block;
  padding: 0.5em;
  font-style: italic;
  text-decoration: none;
}
.Main > .body .shortlink a {
  min-width: 6em;
}
.Main > .body .shortlink a + a {
  margin-left: 0.25em;
}
.Main > .body > .Palette {
  flex-grow: 1;
  margin: 0.25rem;
}
.Contact .body {
  padding: 1em;
}
.Palette {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Palette > .rows > .row {
  display: flex;
  flex-wrap: wrap;
}
.Palette > .rows > .row > .Button {
  width: 10em;
  margin: 0.25rem 0 0 0.25rem;
}
.Palette > .rows > .row:not(:first-child) {
  margin-top: 0.25rem;
  border-top: 1px solid #333333aa;
}
.Builder {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Builder > .Card {
  flex-shrink: 0;
}
.Builder > .Report {
  flex-grow: 1;
  align-self: stretch;
}
.Builder > .body {
  display: flex;
  flex-direction: column;
}
.Builder > .body > .Palette {
  flex-grow: 1;
}
.Compare {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Compare > .panes {
  flex-shrink: 0;
  display: flex;
}
.Compare > .panes > .pane {
  flex: 1 1 50%;
}
.Compare > .Report {
  flex-grow: 1;
  align-self: stretch;
}
